<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- <br *ngFor="let item of [1,2,3,4,5,6,7,8]"> -->

<div class="workinformation">

  <div class="datainfo-text">
    <img class="profileimage" src="https://avatars.githubusercontent.com/u/49026995?v=4" alt="Avatar">
    <div class="aboutme">
      <p>Olá, meu nome é </p>
      <p style="color: var(--second-color);">FILIPE CARDOSO</p>
      <br>
      <p style="font-size: 20px; color: var(--dark-primary-color);"> Tenho {{getAge()}} anos e sou <b> Full-Stack Developer</b>, apaixonado pela área de programação, designer e jogos. </p>
    </div>
  </div>
  <br><br>
  <div class="div-socialmedia-buttons">
    <a (click)="redirectMyResume()">
      <button type="submit" class="button button-resume" mat-raised-button>Currículo</button>
    </a>

    <div class="sized-box"></div>

    <a (click)="redirectMyGithub()">
      <!-- <button type="submit" class="button button-social-media" mat-fab >
        <i class="fa fa-github"></i>
      </button> -->
      <button mat-fab class="button button-social-media">
        <i class="fa fa-github icon-social-media"></i>
      </button>
    </a>

    <a (click)="redirectMyInstagran()">
      <button mat-fab class="button button-social-media">
        <i class="fa fa-instagram icon-social-media"></i>
      </button>
    </a>
  </div>
</div>
