

.workinformation{
    display: flex;
    align-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    
}

.datainfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profileimage {
    height: auto;
    max-width: 16%;
    border-radius: 80%;
    background-color: var(--primary-color);
    box-shadow: 0 2px 8px rgb(35 32 10 / 40%);
}

.aboutme{
    font-family: fangsong;
    padding: 100px;
    font-size: 24px;
    font-weight: bold;
}

button{
    outline: none;
    transition: all 0.2s linear;
}

.myresume{
    color: var(--primary-color);
    font-size: 23px;
    font-weight: bold;
    border-radius: 20px;
    padding: 15px 25px 15px  25px;
    background-color: var(--second-color);
    border-color: var(--primary-color)white;
}

.myresume:hover{
    color: var(--second-color);
    background-color: white;
    border-color: var(--second-color);
}


.socialmedia{
    color: var(--second-color);
    background-color: white ;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    border-color: var(--primary-color);
}


.socialmedia:hover{

    color: white;
    background-color: var(--second-color);
    border-color: white;
}




.sizedbox{
    width: 650px;
}

b{
    color: var(--second-color);
}