
.work-information{
    display: flex; 
    height: auto;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    padding: 100px 200px 150px 200px;
    font-family: fangsong;
}

.data-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-formatation{
    font-size: 23px;
    padding: 10px 100px 10px 100px;
}


b{
    color: orangered;
}

.text-background{
    padding: 20px;
    border-radius: 2%;
    border-width: 30px;
    background-color: rgba(66, 66, 66, 0.048);
    box-shadow: 0 2px 8px rgb(35 32 10 / 40%);
}