
@media only screen and (min-width: 1249px ) {
    .work-information{
        display: flex; 
        height: auto;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        padding: 80px;
        font-family: fangsong;
        background-color: var(--primary-color);
    }

    .data-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-formatation{
        font-size: 23px;
        padding: 10px 50px 10px 50px;
    }

    .text-formatation-title{
        font-size: 26px;
        padding: 10px 50px 10px 50px;
    }



    .text-background{
        padding: 15px;
        border-radius: 2%;
        border-width: 30px;
        background-color: rgba(255, 255, 255, 0.048);
        box-shadow: 0 2px 8px rgb(35 32 10 / 40%);
    }

}

@media only screen and (min-width: 900px ) and (max-width: 1249px ){
    .work-information{
        display: flex; 
        height: auto;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        padding: 60px ;
        font-family: fangsong;
        background-color: var(--primary-color);
    }

    .data-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-formatation{
        font-size: 20px;
        padding: 10px 50px 10px 50px;
    }

    .text-formatation-title{
        font-size: 23px;
        padding: 10px 50px 10px 50px;
    }


    .text-background{
        padding: 15px;
        border-radius: 2%;
        border-width: 30px;
        background-color: rgba(255, 255, 255, 0.048);
        box-shadow: 0 2px 8px rgb(35 32 10 / 40%);
    }

}


@media only screen  and (max-width: 900px ){
    .work-information{
        display: flex; 
        height: auto;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        padding:20px;
        font-family: fangsong;
        background-color: var(--primary-color);
    }

    .data-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-formatation{
        font-size: 17px;
        padding: 10px 50px 10px 50px;
    }

    .text-formatation-title{
        font-size: 20px;
        padding: 10px 50px 10px 50px;
    }

    .text-background{
        padding: 15px;
        border-radius: 2%;
        border-width: 30px;
        background-color: rgba(255, 255, 255, 0.048);
        box-shadow: 0 2px 8px rgb(35 32 10 / 40%);
    }
}



b{
    color: var(--second-color);
}
