

<div class="menu-bar">
  <button type="button" mat-fab (click)="choiceDataOptionService.setChoiceOption(0)">
    <span class="material-symbols-outlined"> home </span>
  </button>

  <button type="button" mat-fab (click)="choiceDataOptionService.setChoiceOption(1)">
       <span class="material-symbols-outlined">
      book
      </span>
  </button>

  <button type="button" mat-fab (click)="choiceDataOptionService.setChoiceOption(2)">
    <span class="material-symbols-outlined"> feed </span>

  </button>

  <button type="button" mat-fab (click)="choiceDataOptionService.setChoiceOption(3)">
    <span class="material-symbols-outlined">
      call
      </span>
  </button>

</div>
