

.workpage{
    display: flex;
    height: fit-content;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.appbar{
    display: flex;
    flex-direction: column;
    height: 980px;
    width: 10%;
    background-color: #ec5928;
}