<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="work-information">

    <b class="text-formatation-title">Contate-me das seguintes formas:</b>
    <br>
    <div class="text-background">
        <span class="text-formatation">
            <b><i class="fa fa-envelope"></i></b> filipecardosooliveira@hotmail.com
        </span>
        <span class="text-formatation">
            <b><i class="fa fa-whatsapp"></i></b>
            <a (click)="redirectToWhatsapp()"> (86) 9 8134-6155</a> 
        </span>
        <span class="text-formatation">
            <b><i class="fa fa-linkedin-square"></i></b>
            <a (click)="redirectToLinkedin()"> filipecarolidev</a> 
        </span>
        <span class="text-formatation">
            <b><i class="fa fa-github"></i></b> 
            <a (click)="redirectToGithub()"> filipecard</a> 
        </span>
    </div>
</div>