<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="work-information" style="padding: 250px 100px 150px 500px;">

    <b class="text-formatation">Contate-me das seguintes formas:</b>
    <br>
    <div class="text-background" style="display: flex; flex-direction: column; width: 750px; ">
        <span class="text-formatation">
            <b><i class="fa fa-envelope" style="font-size:30px"></i></b> filipecardosooliveira@hotmail.com
        </span>
        <span class="text-formatation">
            <b><i class="fa fa-whatsapp" style="font-size:35px"></i></b>
            <a (click)="redirectToWhatsapp()"> (86) 9 8134-6155</a> 
        </span>
        <span class="text-formatation">
            <b><i class="fa fa-linkedin-square" style="font-size:30px"></i></b>
            <a (click)="redirectToLinkedin()"> filipecarolidev</a> 
        </span>
        <span class="text-formatation">
            <b><i class="fa fa-github" style="font-size:35px"></i></b> 
            <a (click)="redirectToGithub()"> filipecard</a> 
        </span>
    </div>
</div>