You can add global styles to this file, and also import other style files

html, body { height: 100%; }
body { 
    /* --primary-color: #ffffff;
    --background-main: #141414;
    --background-secondary: #1b1b1b;
    --secondary-collor: #8f2a2d; */
    /* --primary-shadow: hsl(0, 100%, 8%); */
    --primary-shadow: #ff9e7e;

    margin: 0; 
    font-family: "Fira Code";
    background-color: var(--primary-shadow);
}
