<div class="work-information">
  <br>
  <div class="text-background">
    <p></p>
    <mat-expansion-panel showToggle [expanded]="controllerHardSkills"
      (opened)="this.controllerHardSkills= true; closeSoftSkills()">
      <mat-expansion-panel-header class="mat-expansion-panel-header">
        <mat-panel-title style="flex-grow: 4; height: 50px;">
          <div class="text-formatation-title" style="font-size: 22px; font-weight: 600;"> <b
              [ngClass]="{'day-bold-color': this.themeService.isThemeDay() , 'sunset-bold-color': !this.themeService.isThemeDay()}">Hard
              Skills: </b></div>
        </mat-panel-title>
        <!-- <mat-panel-description>
              This is a summary of the content
            </mat-panel-description> -->
      </mat-expansion-panel-header>
      <br>
      <div>
        <li class="text-formatation"
          [ngClass]="{'dark-theme': !this.themeService.isThemeDay() , 'light-theme': this.themeService.isThemeDay() }">
          <b
            [ngClass]="{'day-bold-color': this.themeService.isThemeDay() , 'sunset-bold-color': !this.themeService.isThemeDay()}">Python:</b>
          Primeira linguágem aprendia. Aplicada em projetos web de forma simples com Django, mas conhecimentos mais
          aprofundados com <b
            [ngClass]="{'day-bold-color': this.themeService.isThemeDay() , 'sunset-bold-color': !this.themeService.isThemeDay()}">Web
            Scraping</b> e <b
            [ngClass]="{'day-bold-color': this.themeService.isThemeDay() , 'sunset-bold-color': !this.themeService.isThemeDay()}">Data
            Science</b>, utilizando de bibliotecas como <b
            [ngClass]="{'day-bold-color': this.themeService.isThemeDay() , 'sunset-bold-color': !this.themeService.isThemeDay()}">pandas</b>,
          <b
            [ngClass]="{'day-bold-color': this.themeService.isThemeDay() , 'sunset-bold-color': !this.themeService.isThemeDay()}">matplotlib</b>,
          <b
            [ngClass]="{'day-bold-color': this.themeService.isThemeDay() , 'sunset-bold-color': !this.themeService.isThemeDay()}">beautifulsoup</b>,
          <b
            [ngClass]="{'day-bold-color': this.themeService.isThemeDay() , 'sunset-bold-color': !this.themeService.isThemeDay()}">numpy</b>,
          etc...Com alguns certificações apresentaveis:
          <p></p>
          <p class="list-certifications">
            <b [ngClass]="{'day-bold-color': this.themeService.isThemeDay() , 'sunset-bold-color': !this.themeService.isThemeDay()}"
              (click)="showCertificationPCAP()"><a> PCAP: Programming Essentials in Python</a></b>
          </p>
          <p class="list-certifications">
            <b [ngClass]="{'day-bold-color': this.themeService.isThemeDay() , 'sunset-bold-color': !this.themeService.isThemeDay()}"
              (click)="showCertificationCodingTank()"><a> Ada & Americanas: Coding Tank</a></b>
          </p>
        </li>
      </div>

      <br>

      <div>
        <li class="text-formatation"
          [ngClass]="{'dark-theme': this.themeService.getTheme() !== 'day', 'light-theme': this.themeService.getTheme() === 'day'}">
          <b
            [ngClass]="{'day-bold-color': this.themeService.isThemeDay() , 'sunset-bold-color': !this.themeService.isThemeDay()}">Angular
            & Delphi:</b> O framkework e a linguágem em questão, foram aprendidos e desenvolvidas em conjunto, durante o
          <b
            [ngClass]="{'day-bold-color': this.themeService.isThemeDay() , 'sunset-bold-color': !this.themeService.isThemeDay()}">estágio</b>
          na empresa <b
            [ngClass]="{'day-bold-color': this.themeService.isThemeDay() , 'sunset-bold-color': !this.themeService.isThemeDay()}">Simples
            Informatica e Consultoria LTDA</b>. Durante 9 meses foram gerados conhecimentos necessários para formação
          profissional como <b
            [ngClass]="{'day-bold-color': this.themeService.isThemeDay() , 'sunset-bold-color': !this.themeService.isThemeDay()}">Full-Stack</b>
          com tais ferramentas, além de algumas soft skills. Nesse estágio tinha como responsabilidades: <b
            [ngClass]="{'day-bold-color': this.themeService.isThemeDay() , 'sunset-bold-color': !this.themeService.isThemeDay()}">
            criação de telas, refatoração de códigos, análise de requisitos, criação de novos serviços e manutenção de
            códigos antigos, tanto na atualização, quanto performace.
          </b>
        </li>
      </div>

      <br>

      <div>
        <li class="text-formatation"
          [ngClass]="{'dark-theme': this.themeService.getTheme() !== 'day', 'light-theme': this.themeService.getTheme() === 'day'}">
          <b
            [ngClass]="{'day-bold-color': this.themeService.isThemeDay() , 'sunset-bold-color': !this.themeService.isThemeDay()}">PostgreSQL
            & Git:</b> Sobre banco de dados e versionamento de código, são habilidades desenvolvidas durante a <b
            [ngClass]="{'day-bold-color': this.themeService.isThemeDay() , 'sunset-bold-color': !this.themeService.isThemeDay()}">formaçao
            acadêmica</b> e ainda mais reforçadas durante o <b
            [ngClass]="{'day-bold-color': this.themeService.isThemeDay() , 'sunset-bold-color': !this.themeService.isThemeDay()}">estágio</b>,
          com experiência em modelagem de banco de dados e formatação das informações com PostgreSQL. Com o Git,
          gerenciamento de tarefas, controle de versão e padronização de commits, ultilizando ferramentas auxiliares para
          gerencia de equipe.
        </li>
      </div>
    </mat-expansion-panel>

    <br>

    <mat-expansion-panel showToggle [expanded]="controllerSoftSkills"
      (opened)="this.controllerSoftSkills = true;closeHardSkills()">
      <mat-expansion-panel-header class="mat-expansion-panel-header">
        <mat-panel-title style="flex-grow: 4;">
          <div class="text-formatation-title" style="font-size: 22px; font-weight: 600;"> <b
              [ngClass]="{'day-bold-color': this.themeService.isThemeDay() , 'sunset-bold-color': !this.themeService.isThemeDay()}">Soft
              Skills: </b></div>
        </mat-panel-title>
        <!-- <mat-panel-description>
              This is a summary of the content
              </mat-panel-description> -->
      </mat-expansion-panel-header>
      <br>
      <div>
        <div class="text-formatation"
          [ngClass]="{'dark-theme': this.themeService.getTheme() !== 'day', 'light-theme': this.themeService.getTheme() === 'day'}">
          Algumas dessas habilidades foram desenvolvidas duantes minha formação social, como:
          <b
            [ngClass]="{'day-bold-color': this.themeService.isThemeDay() , 'sunset-bold-color': !this.themeService.isThemeDay()}">
            <p></p>
            <p> Atitude </p>
            <p> Proatividade </p>
            <p> Criatividade </p>
            <p> Auto-aperfeiçoamento </p>
            <p> Curiosidade </p>
          </b>

          <br><br><br>
          Já outras que se mostravam mais sutis, foram se destacando a medida que interagia com colegas de sala e no
          trabalho, assim como:
          <b
            [ngClass]="{'day-bold-color': this.themeService.isThemeDay() , 'sunset-bold-color': !this.themeService.isThemeDay()}">
            <p></p>
            <p> Liderança </p>
            <p> Atenção </p>
            <p> Pontualidade </p>
            <p> Comunicação </p>
          </b>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
</div>
